<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="../lib/css/devicon.min.css">

  <script src="../lib/js/jquery.min.js" defer></script>
  <script src="../lib/js/bootstrap.min.js" defer></script>

  <script src="../js/main.js" defer></script>
  <title>Chitcom Team</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron p-3 p-md-12 text-white rounded bg-dark">
      <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">Chitcom: Chechen IT Community</h1>
        <p class="lead my-3">This is our TEAM.</p>
      </div>
    </div>

    <div id="root">
      <div class="container"></div>
    </div>

    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="#"><<</a>
      <a class="btn btn-outline-primary" href="#">>></a>
    </nav>
  </div>
</body>
</html>